extend ../layout
block content
  .home.col-lg-offset-3.col-lg-6.col-md-offset-3.col-md-6.col-sm-offset-2.col-sm-8.col-xs-offset-0.col-xs-12
    h1.title We Are All Palestinians
    p.
      #{__('home-content-1')}
    p.
      #{__('home-content-2')}
    p.
      | #{__('home-content-3')}
    p.
      | #{__('home-content-4')}
    div.text-center
      a.btn.btn-lg.btn-want(href="/forms/new").hidden-xs I want to become palestinian
      a.btn.btn-want(href="/forms/new").btn-want-mobile.hidden-lg.hidden-md.hidden-sm.visible-xs
        | I want 
        br
        | to become palestinian
      p.text-center.count
        span #{form_count}
        |  application form Palestinian nationality filled